:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #f3ede5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header img{
  max-height: 20vh;
  max-width: 20vw;
}
header .information{
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  background-color: #f0800d;
  color: white;
  border-radius: 10px;
}
header .information div{
  display: flex;
  flex-direction: row;
}
main{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
.news-sectie{
  display: flex;
  flex-direction: column;
  background-color: #f0800d;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.weer-sectie {
  display: flex;
  flex-direction: column;
  background-image: url("assets/weer.jpg");
  background-size: cover;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
a{
  color: white;
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}
footer{
  background-color: #f0800d;
  min-width: 99vw;
  color: white;
  position: absolute;
  bottom: 0;
  border-radius: 30px;
  text-align: center;
}
.column{
  display: flex;
  flex-direction: column;
}
button{
  border-radius: 10px;
}
@media screen and (max-width: 600px ){
  header{
    flex-direction: column;
    align-items: center;
  }
  header img{
    align-self: center;
  }
  header .information{
    gap: 10px;
  }
  main{
    grid-template-columns: 1fr;
  }
  footer{
    position: relative;
  }
  h2{
    font-size: 20px;
  }
}